body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #343333;
}


/* HEADER */
header {
    color: #000;
    padding: 10px 20px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: #fff;
    flex-wrap: wrap;
}
.logo > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
nav li {
    position: relative;
    list-style: none;
}
nav li a {
    text-decoration: none;
}
.sub-menu {
    display: none;
}
.sub-menu > ul {
    padding: 5px;
    background-color: #e9e7e7;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
}
nav ul li:hover .sub-menu {
    display: block;
  }
/* HOME */
.home-more{
    background-image: url("./assets/TAMI.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.home {
    padding: 20px;
    color: #fff;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.531);
    
}
.church {
    text-align: center;
}
.church > h1 {
    font-size: 2.5rem;
}
.church > p {
    font-size: 2rem;
}
.socials {
    display: flex;
    flex-direction: column;
    /* font-size: 2rem; */
    gap: 2rem;
}
.socials > svg {
    font-size: 3rem;
    transition: font-size 200ms linear;
}
.socials > svg:hover {
    font-size: 3.1rem;
}
.weekly-services {
    text-align: center;
}
.weekly-services img {
    width: 200px;
    
}
/* .socials> :nth-child(4):hover{
    background-color: white;
    color: red;
    }
    .socials> :nth-child(2):hover{
        background-color: #000;
        color: #fff;
        }
        .socials> :nth-child(3):hover{
            background-color: rgb(225,48,108);
            color: #fff; */
            /* } */
            /* MORE */
.more {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.531);
    flex-wrap: wrap;
}

.more-left, .more-right, .more-centre{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    
}
.more-center {
    /* width: 100%; */
    flex: 1;
    position: relative;
    /* display: none; */
    margin: 0;
    padding: 0;
    /* width: 300px; */
    /* background-color: #fff958 !important; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}
.more > div > div {
    color: #fff;
    background-color: rgb(48, 88, 8);
    /* width: 300px; */
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    /* height: 300px; */
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.7);
}
.more img {
    width: 100%;
}
.more a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}
.more-item {
    background-color: #273625;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.more-item:hover {
    transform: scale(1.03); /* Slight magnification */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow for a pop-out effect */
}

.circle {
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border: 4px solid transparent;
    border-bottom: 4px solid #fff958;  
    border-top: 4px solid #b858ff;  
    border-radius: 50%;
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.7);
    
    animation: animate 6s linear infinite;
}
.circle:hover {
    transform: scale(1.1); /* Slight magnification */
    box-shadow: 0 10px 20px rgba(210, 255, 49, 0.653); /* Add a shadow for a pop-out effect */
}
.circle:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 4px solid transparent;
    border-bottom: 4px solid #e74c3c;  
    border-top: 4px solid #3ce7d8;  
    border-radius: 50%;
    box-shadow: 0 0 8px  rgba(255, 255, 255, 0.7);

    animation: animate 4s linear infinite;
}
.circle:after{
    content: '';
    position: absolute;
    top: 24px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    border: 4px solid transparent;
    border-bottom: 4px solid #39ff8d;  
    border-top: 4px solid #ff67ad;  
    border-radius: 50%;
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.7);

    animation: animate 2s linear infinite;
}
.dvbs {
    background: url(../src/assets/dvbs-poster.jpg) no-repeat;    
    background-size: cover;
    border: 3px solid orange;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    width: 200px;
    height: 200px;
    background-color: orangered;
    border-radius: 50%;
    transform: rotate(0deg);
}
.more-dvbs-container{
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.hero {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding-left: 20px;
    /* padding: 20px; */
    background-color: #0a4e26;
    background-size: cover;
    background-position: top;
    margin-bottom: -40px;
}
/* DVBS */
.ministry-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px 20px 0 0 ;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), /* Soft shadow */
    0 2px 4px rgba(0, 0, 0, 0.08); /* Subtle bottom shadow */


}

.tabs-nav {
    margin: 20px 0;
    background-color: rgb(227, 224, 224);
    display: flex;
    /* padding: 20px; */
}
.tabs-nav > button {
    flex: 1;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(179, 234, 103);
}
.tabs-nav > button:hover {
    background-color: rgb(255, 255, 255);
    border-top: 3px solid rgb(48, 88, 8) !important;
}
.active-tab {
    background-color: #fff !important;
    border-top: 3px solid rgb(48, 88, 8) !important;
}
.tab-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}
.ministry-container ul {
    padding-left: 30px;
}

/* ABOUT */
.about-container {
    width: 80%;
    max-width: 940px;
    margin: 20px auto;
}
.leaders {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
}
.leader {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Soft shadow */
              0 2px 4px rgba(0, 0, 0, 0.08); /* Subtle bottom shadow */
  border-radius: 8px;
}
.about-container img{
    /* width: 300px; */
    /* max-height: 300px; */
    /* height: 200px; */
    object-fit:fill;
    border-radius: 5px 5px 0 0;

}
/* .leader-photo {
    width: 300px;
    height: 200px;
    background-size:cover;
} */
.leader-title > p {
    font-size: 1.1rem;
}
.lead-pastor {
    margin: 10px;
    display: flex;
    max-width: 940px;
    margin: auto;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Soft shadow */
    0 2px 4px rgba(0, 0, 0, 0.08); /* Subtle bottom shadow */
border-radius: 8px;

}
.lead-pastor img {
    width: 300px;
}
.about-lead-pastor {
    padding: 20px;
}
.leader-title {
    text-align: center;
}
hr {
    margin: 5px 0;
    width: 100%;
}
.leader > p {
    text-align: left;
    padding: 10px;
}

/* Ministries */
.ministry {
    width: 80%;
    margin: auto;
}
.ministry-leader {
    display: flex;
    gap: 20px;
}
.ministry-leader img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

/* Base styles for the home and more containers */
/*  */
  
  /* Animation classes */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .scroll-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .scroll-up-visible {
    opacity: 1;
    transform: translateY(0);
  }
  

  
 
  
  /* Responsive layout */
  @media (min-width: 768px) {
    .more {
      display: flex;
      justify-content: space-between;
    }
    
    .more-left, .more-right {
      flex: 1;
    }
    
    .more-center {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 670px) {
    .home {
      display: flex;
      flex-direction: column-reverse;
      align-items: space-between;
      gap: 10;
    }
    .more {
        flex-wrap: wrap;
    }
  }
  
 /* WeeklyServiced */
.weekly-services-container {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Soft shadow */
    0 2px 4px rgba(0, 0, 0, 0.08); /* Subtle bottom shadow */
    background-color: #273625;

}
.weekly-services {
    /* width: 100%; */
    border-bottom: 1px solid #fff;
}

.weekly-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; Space between the events */
}

.service-item {
    width: 100%;
    text-align: center;
}
.service-item {
    width: 100%;
    text-align: center;
}

.service-item:not(:last-child) {
    border-bottom: 1px solid #fff;
}


.animated-service {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.service-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.animated-service {
    animation: fadeInZoom 3s ease forwards;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.contacts {
    width: 60%;
    margin: auto;
}